{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <strong>{{ category }}:</strong>{{ message }}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p>Editing '{{ lst['title'] }}'</p>
<form action="{{ url_for('delete_list', list_id=lst['id']) }}"
  method="post" class="delete">
  <button type="submit">Delete List</button>
</form>

<form action="{{ url_for('update_list', list_id=lst['id']) }}" method="post">
  <dl>
    <dt>
      <label for="new_list_title">Enter the new name for the list:</label>
    </dt>
    <dd>
      <input type="text" name="new_list_title" placeholder="List Name" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="{{ url_for('show_list', list_id=lst['id']) }}">Cancel</a>
  </fieldset>
<a href="{{ url_for('get_lists') }}">All Lists</a>