<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>Todo App</title>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/application.css') }}"
  </head>
  <body>
    <header>
      <h1>Todo Tracker</h1>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
            {% for category, message in messages %}
              <li><strong>{{ category }}</strong>:{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
      </main>
  </body>
</html>